<mat-card *ngFor="let letter of letters" class="mat-elevation-z10">

  <mat-card-header>
    <mat-card-title>{{letter.name}}</mat-card-title>
  </mat-card-header>

  <div class="center-aligned-container">
    <img mat-card-image [src]="letter.imageUrl" style="height: 50px; width:50px; margin-top: 0px;">
  </div>

  <mat-card-content>
    <p>{{letter.description}}</p>
  </mat-card-content>

  <mat-card-actions>

    <div class="center-aligned-container">
      <button mat-raised-button>
        EDIT
      </button>
    </div>


  </mat-card-actions>

</mat-card>