<mat-sidenav-container>

  <mat-sidenav>

    <mat-nav-list #navList>

      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>home</span>
      </a>
      <a mat-list-item routerLink="about">
        <mat-icon>question_answer</mat-icon>
        <span>about</span>
      </a>
      <a mat-list-item routerLink="minesweeper">
        <mat-icon>whatshot</mat-icon>
        <span>minesweeper</span>
      </a>

    </mat-nav-list>

  </mat-sidenav>



  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="navList">
      <!--  (click)="navList.open()" -->
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>
<!-- <ed-top-menu></ed-top-menu>
<router-outlet></router-outlet> -->