<form class="header" autocomplete="off" [formGroup]="form">
  <mat-form-field>

    <mat-select placeholder="Level" formControlName="selectedOption">

      <mat-option *ngFor="let option of allowedOptions" [value]="option">{{option}}</mat-option>

    </mat-select>

  </mat-form-field>
</form>

<!-- <div class="header">

</div> -->

<div #grid class="outer-grid">
  <div [style.width.px]="gridWidth" [style.height.px]="gridHeight">
    <mat-grid-list [cols]="nbCols" [gutterSize]="0" [rowHeight]="rowHeight" class="fade-in">

      <mat-grid-tile *ngFor="let t of tiles">
        {{t}}
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</div>