:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
}

.tile-display {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes reveailTileAnimation {
    from {
        background-color: transparent;
    }
    to {
        background-color: cadetblue;
    }
}

.revealed-tile {
    background-color: cadetblue;
    animation-name: reveailTileAnimation;
    animation-duration: 0.3333s;
}
