<ng-container *ngIf="tile != undefined">

    <div *ngIf="tile.isRevealed" class="tile-display revealed-tile">
        <ng-container *ngIf="tile._hasBomb">
            <mat-icon style="color: red;">filter_tilt_shift</mat-icon>
        </ng-container>
        <ng-container *ngIf="tile._hasBomb == false">
            <div *ngIf="tile.surroundingBombCount > 0">
                {{tile.surroundingBombCount}}
            </div>
        </ng-container>

    </div>

    <div *ngIf="tile.currentDetectionLevel == levelDetected.flag" class="tile-display" style="color: burlywood">
        <mat-icon>flag</mat-icon>
    </div>

    <div *ngIf="tile.currentDetectionLevel == levelDetected.unknown" class="tile-display" style="color: burlywood">
        <mat-icon>device_unknown</mat-icon>
    </div>


</ng-container>